@use "../../assets/global.scss" as *;

// body {
//   height: 220vh;
// }

html {
  --registerFontSize: 2rem;
  --counterBigFontSize: 3em;
  --counterSmallFontSize: 1.2rem;
  scrollbar-width: none;

  img {
    user-select: none;
    -webkit-user-drag: none;
  }
}

@media (max-width: 1350px) {
  html {
    --registerFontSize: 1.5rem;
    --counterBigFontSize: 1.5rem;
    --counterSmallFontSize: 1.25rem;
  }
}

@media (max-width: 1000px) {
  html {
    --registerFontSize: 1.25rem;
  }
}

@media (max-width: 900px) {
  html {
    --registerFontSize: 1.2rem;
  }
}

@media (max-width: 800px) {
  html {
    --registerFontSize: 1rem;
    --counterBigFontSize: 2.4rem;
    --counterSmallFontSize: 0.9rem;
  }
}

body {
  -ms-overflow-style: none;
  background-color: #000000;
  position: fixed;
}

@media (max-width: 730px), (aspect-ratio < 8/12) {
  body {
    background-image: linear-gradient(to right, #d36f66, #be5964);
  }
}

.pointerNoneEvent {
  pointer-events: none;
  position: fixed;
}

@keyframes lantern-swinging-wind {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(5deg);
  }

  66% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.wrapperSquared {
  height: 220vh;
  position: fixed;
}

.wrapper {
  width: 100%;
  height: 200svh;
  mask-image: url("");
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;

  .hamContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    .blur {
      position: fixed;
      top: 0;
      left: 0;
      height: 100dvh;
      width: 100dvw;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      pointer-events: none;
    }
    .translateHam {
      position: fixed;
      height: 100%;
      width: 70svw;
      right: 0;
      top: 0;
      transform: translateX(100svw);
      transition: transform 0.5s ease-in-out;
    }
    &.hamOpen {
      .blur {
        opacity: 1;
        pointer-events: auto;
      }
      .translateHam {
        transform: translateX(0);
      }
    }
  }

  .landing {
    width: 100%;
    height: 50%;
    z-index: 0;
    overflow-x: hidden;
    position: relative;

    .landingImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: fixed;
    }

    .mobileBackground {
      display: none;
      width: 100%;
      height: 100dvh;
      object-fit: cover;
      object-position: center;
      position: fixed;
      bottom: 0;
      z-index: -1;
    }

    .mobileMountains {
      display: none;
      width: 100%;
      object-fit: cover;
      object-position: right;
      position: fixed;
      bottom: 0;
      right: 0;
      height: 70svh;
      margin-bottom: calc(5svw);
    }

    .mobileCloud {
      display: none;
      position: fixed;
      left: 0;
      top: 55%;
      width: 150px;
      mix-blend-mode: luminosity;
    }

    @media (aspect-ratio < 8/12), (max-width: 730px) {
      .mobileMountains {
        display: block;
      }

      .landingImage {
        display: none;
      }

      .mobileBackground {
        display: block;
      }

      .mobileCloud {
        display: block;
      }
    }

    @media (aspect-ratio < 5/8) {
      .mobileMountains {
        right: -10svw;
        width: auto;
      }
    }

    @media (aspect-ratio < 4/8) {
      .mobileMountains {
        right: -20svw;
        width: auto;
      }
    }

    @media (aspect-ratio < 35/80) {
      .mobileMountains {
        right: -40svw;
        width: auto;
      }
    }

    .treeContainer {
      position: fixed;
      z-index: 100;
      right: 0;
      top: -8svw;
      width: 100%;
      max-width: 100svw;
      overflow: hidden;
      will-change: transform;

      .tree {
        position: relative;
        will-change: transform;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: transform 0.1s ease-out;
        transform-origin: "center right";
        will-change: transform;
        margin-top: clamp(0svh, 100svh - 56.7svw, 100svh);

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 60%;
          background: linear-gradient(to bottom, transparent 0.1%, black);
          pointer-events: none;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          object-fit: contain;
          object-position: top;
          will-change: transform;
        }

        .socialLinksContainer {
          position: absolute;
          top: 2%;
          right: 0;
          height: fit-content;
          width: fit-content;

          .wire {
            position: relative;
            left: 0;
            width: 50svw;
          }

          .socialLinkContainer {
            position: absolute;
            right: 0;
            top: 100%;
            animation: lantern-swinging-wind 6s ease-in-out infinite;
            transform-origin: top center;

            a {
              display: grid;
              grid-template-columns: 1/2;
              grid-template-rows: 1/2;
              align-items: center;
              justify-items: center;
              width: 6.5svw;

              .socialIcon {
                grid-row: 1/2;
                grid-column: 1/2;
                z-index: 100;
                height: 30%;
                filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
                transition: filter 0.1s ease-out;
                pointer-events: none;
              }

              .socialLamp {
                grid-row: 1/2;
                grid-column: 1/2;
                z-index: 99;
                width: 80%;
                filter: brightness(1)
                  drop-shadow(0px 0px 3px rgba(255, 213, 3, 0.823));
                transition: filter 0.3s ease-out;

                &:hover {
                  filter: brightness(1.05)
                    drop-shadow(0px 0px 15px rgba(255, 213, 3, 0.848));
                }
              }

              &:hover {
                .socialIcon {
                  filter: none;
                }
              }
            }
          }

          .xDiv {
            top: 94%;
            right: 10%;

            a {
              .xIcon {
                width: 33%;
              }
            }
          }

          .instaDiv {
            top: 94%;
            right: 28%;

            a {
              .instaIcon {
                width: 38%;
                rotate: -12deg;
                translate: 1.5px -4px;
              }
            }
          }

          .linkdenDiv {
            top: 88%;
            right: 43%;

            a {
              .linkdenIcon {
                width: 36%;
                rotate: 8deg;
                translate: -1px -4px;
              }
            }
          }
        }
      }

      .treeExtender {
        background-color: black;
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 25vh;
        position: relative;
        transform: translateY(-1vh);
        left: 0;
      }
    }

    @media (aspect-ratio < 8/12), (max-width: 730px) {
      .treeContainer {
        position: fixed;

        .tree {
          margin-top: clamp(0svh, 100svh - 80svw, 100svh);

          img {
            scale: 1.2;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 60%;
            background: linear-gradient(to bottom, transparent 0.1%, black);
            pointer-events: none;
          }
        }

        .socialLinksContainer {
          display: none;
        }
      }
    }

    @media (max-width: 500px) {
      .treeContainer {
        .tree {
          margin-top: clamp(0svh, 100svh - 85svw, 100svh);
        }
      }
    }

    @media (aspect-ratio < 18/10) {
      .treeContainer {
        width: 100%;
      }
    }

    @media (aspect-ratio > 190/100) {
      .treeContainer {
        top: -9svw;
      }
    }

    .logoContainer {
      position: fixed;
      left: 3svw;
      bottom: 2.5svw;
      width: 30svw;
      will-change: auto;

      .logo {
        width: 100%;
      }
    }

    @media (aspect-ratio < 8/12), (max-width: 730px) {
      .logoContainer {
        left: 50%;
        transform: translateX(-50%);
        top: 150px;
        width: 300px;
      }
    }

    @media (aspect-ratio > 1/1) and (max-width: 730px) {
      .logoContainer {
        top: 30px;
        left: 20px;
        transform: none;
      }
    }

    .dateCountdown {
      user-select: none;
      position: fixed;
      z-index: 200;
      right: 2svw;
      top: 45px; // 4svw;
      width: 15svw;
      min-width: fit-content;
      display: flex;
      // align-items: center;
      gap: 0.5svw;
      will-change: auto;
      font-family: $primaryFont;
      color: #ffdfd0;
      font-size: 2rem;
      text-align: center;
      background-color: none;

      .timeLeft {
        font-size: var(--counterSmallFontSize);

        .days,
        .hours,
        .minutes,
        .seconds {
          font-size: var(--counterBigFontSize);
          font-weight: bold;
        }
      }

      div:nth-of-type(even) {
        font-size: 3rem;

        @media (max-width: 800px) {
          font-size: 2.4rem;
        }
      }
    }

    @media (max-width: 1100px) {
      .dateCountdown {
        display: none;
      }
    }

    @media (aspect-ratio < 8/12), (max-width: 730px) {
      .dateCountdown {
        z-index: 50;
        display: flex;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        font-size: 1.5rem;
        padding: 0.5svw;
        text-align: center;
        gap: 1.5svw;
      }
    }

    @media (aspect-ratio > 1/1) and (max-width: 730px) {
      .dateCountdown {
        top: 130px;
        left: 35px;
        transform: none;
      }
    }

    .socialLinksContainer {
      position: absolute;
      right: 2svw;
      top: 0;
      width: 3.25svw;
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      justify-content: center;
      z-index: 100;

      .linkBackground {
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;

        img {
          width: 100%;
        }
      }

      .socialLinks {
        grid-row: 1/2;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2svw;
        width: 100%;
        height: 100%;
        padding: 0.8svw;

        .socialLink {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          img {
            width: 100%;
          }
        }
      }
    }

    .registerBtnContainer {
      text-decoration: none;
      position: fixed;
      right: 3svw;
      bottom: 2.5svw;
      z-index: 101;
      width: 22svw;
      will-change: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      justify-items: center;
      cursor: pointer;
      user-select: none;
      transition: filter 0.3s;

      &:hover {
        filter: brightness(0.8);
      }

      .registerBtn {
        grid-row: 1/2;
        grid-column: 1/2;
        width: 100%;
        transform: rotate(-2.5deg) translateY(2px);
      }

      .mobileRegisterBtn {
        grid-row: 1/2;
        grid-column: 1/2;
        width: 100%;
        display: none;
      }

      .registerBtnText {
        font-family: $primaryFont;
        font-size: var(--registerFontSize);
        color: #ffdfd0;
        text-align: center;
        grid-row: 1/2;
        grid-column: 1/2;
        z-index: inherit;
      }
    }

    @media (aspect-ratio < 8/12), (max-width: 730px) {
      .registerBtnContainer {
        width: 300px;
        left: 50%;
        transform: translateX(-50%);

        .registerBtn {
          display: none;
        }

        .mobileRegisterBtn {
          display: block;
        }

        .registerBtnText {
          font-size: 1.5rem;
        }
      }
    }
  }

  &.mask {
    mask-image: url("/videos/ink-spread-5.gif");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    height: 100svh;
  }
}

// .mask {
//   mask-image: url("/videos/ink-spread-2.gif");
//   mask-size: cover;
//   mask-position: center;
//   mask-repeat: no-repeat;
// }

.aboutUsContainer {
  display: block;
  position: relative;
  top: 120svh;
  z-index: 100;
  height: 100vh;

  .pinnerContainer {
    position: relative;
    height: 100svh;
    width: 100svw;
  }
}

.scrollExtender {
  position: relative;
  height: 100vh;
  top: 120svh;
}

.noneDisplay {
  display: none;
}

.bottomContent {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  bottom: 0px;

  .dummyAboutUs {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: turquoise;
  }
}

// .aboutUsContainer {
//   display: block;
//   position: relative;
//   top: 120svh;
//   z-index: 100;
//   height: 100vh;
// }

// .noneDisplay {
//   display: none;
// }
