@use "/src/assets/global.scss" as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
}

.selectedEvents {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1.5px solid #ededed;
  border-radius: 8px;
  z-index: 1001;
  padding: 2.3vw 3.7vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15.3px 0px #e5c3845e;
  background-color: #000000e5;
  backdrop-filter: blur(10px);

  .heading {
    color: #fff;
    font: 400 1.7vw "DM Serif Text";
  }
  .content {
    display: flex;
    justify-content: space-between;

    .noEventsSelected {
      height: 16vw;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font: 400 2vw "DM Serif Text";
      }
    }
    ul {
      margin: 1vw 0 2vw 2.5vw;
      height: 16vw;
      overflow-y: auto;
      list-style: inside;
      padding: 1vw 0;
      mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        #000 7%,
        #000 93%,
        transparent 100%
      );
      --webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        #000 7%,
        #000 93%,
        transparent 100%
      );
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      li {
        margin: 0.2vw 0;
        color: #fff;
        font: 400 1.4vw "DM Serif Text";
      }
    }
    .scrollBarContainer {
      height: 16vw;
      width: 10vw;
      display: flex;
      justify-content: center;
      position: relative;
      cursor: -webkit-grab;
      z-index: 4;

      .scrollBarThumb {
        position: absolute;
        top: 13.5%;
        transform: translateY(-50%);
        height: 2vw;
      }

      .scrollBar {
        object-fit: contain;
        height: 100%;
        border-radius: 5px;
      }
    }
  }
  .buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    .cancelButton {
      border: 1.5px solid #ededed;
      border-radius: 8px;
      background: transparent;
      color: #fff;
      font: 400 1.5vw "DM Serif Text";
      padding: 0.5vw 4vw;
      cursor: pointer;
    }
    .confirmButton {
      background-color: #fff6dd;
      border: none;
      border-radius: 8px;
      color: #000;
      font: 400 1.5vw "DM Serif Text";
      padding: 0.5vw 4vw;
      cursor: pointer;
    }
  }
}
.error {
  height: 25vw;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  p {
    color: #eb5c5c;
    font: 400 1.7vw "DM Serif Text";
  }
  .buttonsContainer {
    margin-top: unset;
  }
}
@media screen and (max-width: 1200px) and (max-aspect-ratio: 1.45) {
  .selectedEvents {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.3vw 3.7vw;
    width: 80vw;

    .heading {
      font: 400 4.3vw "DM Serif Text";
    }
    .content {
      .noEventsSelected {
        height: 60svh;
        p {
          font: 400 4vw "DM Serif Text";
        }
      }
      ul {
        margin: 1vw 0 2vw 2.5vw;
        height: 60svh;
        padding: 4vw 0;
        li {
          font: 400 3vw "DM Serif Text";
        }
      }
      .scrollBarContainer {
        height: 60svh;
        .scrollBarThumb {
          height: 8vw;
        }
      }
    }
    .buttonsContainer {
      .cancelButton {
        font: 400 3vw "DM Serif Text";
        padding: 0.5vw 4vw;
      }
      .confirmButton {
        font: 400 3vw "DM Serif Text";
        padding: 0.5vw 4vw;
        cursor: pointer;
      }
    }
  }
  .error {
    height: 30svh;
    gap: 4vw;
    p {
      color: #fff;
      font: 400 3.5vw "DM Serif Text";
    }
  }
}
@media screen and (max-width: 1200px) and (max-aspect-ratio: 0.75) {
  .selectedEvents {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3vw 4.3vw;
    width: 80vw;

    .heading {
      font: 400 4.3vw "DM Serif Text";
    }
    .content {
      .noEventsSelected {
        height: 60svh;
        p {
          font: 400 5vw "DM Serif Text";
        }
      }
      ul {
        margin: 1vw 0 2vw 2.5vw;
        height: 60svh;

        li {
          font: 400 4vw "DM Serif Text";
        }
      }
    }
    .buttonsContainer {
      .cancelButton {
        font: 400 4vw "DM Serif Text";
        padding: 0.5vw 4vw;
      }
      .confirmButton {
        font: 400 4vw "DM Serif Text";
        padding: 0.5vw 4vw;
        cursor: pointer;
      }
    }
  }
  .error {
    height: 30svh;
    gap: 4vw;
    p {
      color: #fff;
      font: 400 4vw "DM Serif Text";
    }
  }
}
