@import url('https://fonts.cdnfonts.com/css/samarkan');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

$primaryFont: "Samarkan", sans-serif;

$gradient: linear-gradient(#FFB800 0%, #E63946 100%);
$regFont: "Outfit", sans-serif;
$abtFont: "Outfit", sans-serif;
$abtusHeadFont: "Samarkan", sans-serif;
$hamFooterFont: "Outfit", sans-serif;

* {-webkit-tap-highlight-color:  transparent}