@use "/src/assets/global.scss" as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
}

.selectedEvents {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1.5px solid #ededed;
  border-radius: 8px;
  z-index: 1001;
  padding: 2.3vw 3.7vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15.3px 0px #e5c3845e;
  background-color: #000000e5;
  backdrop-filter: blur(10px);

  .close {
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 2vw;
    right: 2vw;
  }

  .heading {
    color: #fff;
    font: 400 1.7vw "DM Serif Text";
  }
  .content {
    display: flex;
    justify-content: space-between;
    ul {
      margin: 1vw 0 2vw 1vw;
      height: 25vw;
      overflow-y: auto;
      list-style: none;
      padding: 1vw 0;
      display: flex;
      flex-direction: column;
      gap: 1.3vw;
      padding: 1vw 0;
      mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        #000 7%,
        #000 93%,
        transparent 100%
      );
      --webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        #000 7%,
        #000 93%,
        transparent 100%
      );
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      li {
        position: relative;
        color: #ffffff;
        text-align: left;
        font: 400 1.3vw "Shippori Mincho";
        line-height: 1.6;
        letter-spacing: 1px;
        margin-left: 3vw;

        &::before {
          content: "";
          position: absolute;
          display: block;
          top: 6%;
          left: -2.5vw;
          width: 1.5vw;
          height: 1.45vw;
          background: center / contain no-repeat
            url("/public/svgs/registration/list-tag.svg");
        }
      }
    }
    .scrollBarContainer {
      height: 25vw;
      width: 10vw;
      display: flex;
      justify-content: center;
      position: relative;
      cursor: -webkit-grab;
      z-index: 4;

      .scrollBarThumb {
        position: absolute;
        top: 13.5%;
        transform: translateY(-50%);
        height: 2vw;
      }

      .scrollBar {
        object-fit: contain;
        height: 100%;
        border-radius: 5px;
      }
    }
  }
  .buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    .cancelButton {
      border: 1.5px solid #ededed;
      border-radius: 8px;
      background: transparent;
      color: #fff;
      font: 400 1.5vw "DM Serif Text";
      padding: 0.5vw 4vw;
      cursor: pointer;
    }
    .confirmButton {
      background-color: #fff6dd;
      border: none;
      border-radius: 8px;
      color: #000;
      font: 400 1.5vw "DM Serif Text";
      padding: 0.5vw 4vw;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1200px) and (max-aspect-ratio: 1.45) {
  .selectedEvents {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.3vw 3.7vw;
    width: 80vw;

    .close {
      top: 4vw;
      right: 4vw;
      width: 2.5vw;
      height: 2.5vw;
    }

    .heading {
      font: 400 4.3vw "DM Serif Text";
    }
    .content {
      ul {
        margin: 1vw 0 2vw 1vw;
        height: 60svh;
        padding: 3vw 0;
        li {
          margin-left: 5vw;
          padding-left: 2vw;
          font: 400 3vw "DM Serif Text";
          &::before {
            top: 0;
            left: 0;
            transform: translate(-100%, 20%);
            width: 3vw;
            height: 3vw;
          }
        }
      }
      .scrollBarContainer {
        height: 60svh;
        .scrollBarThumb {
          height: 8vw;
        }
      }
    }
    .buttonsContainer {
      .cancelButton {
        font: 400 3vw "DM Serif Text";
        padding: 0.5vw 4vw;
      }
      .confirmButton {
        font: 400 3vw "DM Serif Text";
        padding: 0.5vw 4vw;
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 1200px) and (max-aspect-ratio: 0.75) {
  .selectedEvents {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5vw 4.3vw;
    width: 80vw;

    .close {
      top: 4vw;
      right: 4vw;
      width: 3.5vw;
      height: 3.5vw;
    }

    .heading {
      font: 400 5.3vw "DM Serif Text";
    }
    .content {
      ul {
        margin: 1vw 0 2vw 1vw;
        height: 60svh;
        padding: 6vw 0;

        li {
          padding-left: 2vw;
          font: 400 4vw "DM Serif Text";
          &::before {
            transform: translate(-100%, 10%);
            width: 4vw;
            height: 4vw;
          }
        }
      }
    }
    .buttonsContainer {
      .cancelButton {
        font: 400 4vw "DM Serif Text";
        padding: 0.5vw 4vw;
      }
      .confirmButton {
        font: 400 4vw "DM Serif Text";
        padding: 0.5vw 4vw;
        cursor: pointer;
      }
    }
  }
}
